/* Variáveis globais de design */
:root {
  --primary-color: #3b1d4a;
  --accent-color: #e2a25d;
  --text-light: #ffffff;
  --text-dark: #333333;
  --font-main: "Arial", sans-serif;
}

/* Reset global */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: #ffffff;
  color: var(--text-dark);
  overflow-x: hidden;
}
